<h3>{{model.name}}</h3>
<div class="detail owner">
  <span>ID:</span> {{model.id}}
</div>
<div class="detail owner">
  <span>Owner:</span> {{model.address}}
</div>
<div class="detail type">
  <span>Star Rating:</span> {{model.star_rating}}
</div>
<div class="detail location">
  <span>Accomodation Type:</span> {{model.accomodation_type.name}}
</div>
