{{#each model as |hotel|}}
  <article class="listing">
    <h3>{{hotel.name}}</h3>
    <div class="detail id">
      <span>ID:</span> {{hotel.id}}
    </div>
    <div class="detail address">
      <span>Address:</span> {{hotel.address}}
    </div>
    <div class="detail star-rating">
      <span>Star Rating:</span> {{hotel.star_rating}}
    </div>
    <div class="detail accomodation-type">
      <span>Accomodation Type:</span> {{hotel.accomodation_type.name}}
    </div>
  </article>
  <br>
  {{#link-to 'edit' hotel.id }}Edit{{/link-to}}
  <a href='' {{action "deleteHotel" hotel}}>Delete</a>
{{/each}}
